#input{
    width: 100%;
    height: 100%;
    border-width: 1.5px;
    border-color:#4798ff;
    border-style: solid;
    box-sizing: border-box;
}
.menu{
    height: 105px;
    text-align: center;
    user-select: none;
    background-color: #eee;
}
button:hover{
    background-color: #ddd;
}